@use '../../assets/variables/variables' as *;

.beer-info-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: $primary-font;
  

  .beer-info {
  display: grid;
  grid-template-columns: repeat(20, 40px);
  grid-template-rows: repeat(20, 40px);
  height: 800px;
  width: 800px;
  border-radius: 50%;
  border: 20px solid #E67500;
  color: $color-light-2;
  background-color: $color-dark-2;
  

    &__image {
      grid-area: 5 / 14 / 11 / 18;
      min-width: 70px;
      height: 240px;
       box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0);
    }

    &__name {
      grid-area: 2 / 6 / 4 / 15;
      text-align: center;
      font-size: 2.5rem;
      font-weight: 500;
      text-decoration: underline;
    }

    &__brewed {
      grid-area: 5 / 5 / 6 / 9;
      
    }

    &__abv {
      grid-area: 6 / 5 / 7 / 9;
      
    }

    &__ph {
      grid-area: 7 / 5 / 8 / 9;
      
    }

    &__volume {
      grid-area: 8 / 5 / 9 / 9;
      
    }

    &__fermentation {
      grid-area: 9 / 5 / 10 / 9;
      
    }

    &__description-label {
      grid-area: 11 / 5 / 12 / 9;
      
      text-decoration: underline;
    }

    &__description-text {
      grid-area: 12 / 5 / 16 / 12;
      margin-top: -15px;
    }
  }


  .back-link {
    position: absolute;
    top: 40px; 
    left: 40px; 
    text-decoration: none;
    color: $color-light-2;
    font-family: $primary-font;
    font-size: 1.5rem;
    background-color: $color-dark-2-transparent;
    border-radius: 10px;
    padding: 10px;
  }


}

@media (max-width: 768px) {
  .beer-info-container {

    .beer-info {
      grid-template-columns: repeat(20, 30px);
      grid-template-rows: repeat(20, 30px);
      width: 600px;
      height: 600px;
      font-size: 0.8rem;

      
    }

    .back-link {
      font-size: 1.0rem;
    } 
  }
}

@media (max-width: 320px) {
  .beer-info-container {
    
    .beer-info {
      grid-template-columns: repeat(20, 15px);
      grid-template-rows: repeat(20, 15px);
      width: 300px;
      height: 300px;
      font-size: 0.5rem;

      &__name {
        font-size: 1.2rem;
      }

      &__image {
        height: 120px;
        min-width: 35px;
      }
    }

    .back-link {
      font-size: 1.0rem;
    } 
  }
}