@use '../../assets/variables/variables' as *;

.beers {
  max-width: 385px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  border: 2px solid black;
  margin: 30px;
  flex: 0 0 calc(33.33% - 60px);
  color: $color-light-1;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
  
  &__image-background {
    background-color: transparent;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__image {
    height: 300px;
    max-width: 385px;
    width: auto;
    margin: 10px;
  }

  &__info {
    background-color: $color-dark-1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  &__description {
    text-align: center;
    height: 100%;
    overflow: hidden;
    
  }

  &__name {
    max-height: 75px;
    border-top: 2px solid black;
    width: 100%;
    text-align: center;
  }

  &__tagline {
    margin-bottom: 16px;
  }

  &__brew-date {
    align-self: flex-start;
    margin-left: 15px;
  }

  &__abv {
    align-self: flex-start;
    margin-left: 15px;
  }

  &__ph {
    align-self: flex-start;
    margin-left: 15px;
  }
}