@use '../../assets/variables/variables' as *;

.beers {
  max-width: 459px;
  min-width: 459px;
  height: 750px;
  max-height: 750px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  // border: 2px solid black;
  margin: 30px;
  flex: 0 0 calc(33.33% - 60px);
  color: $color-light-1;
  font-family:$primary-font;
  transition: margin 0.25s ease-in-out;
  
  &__image-background {
    background-color: transparent;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    // border: 2px solid $color-light-1;
    border-bottom: 2px solid $color-light-1;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    
  }

  &__image {
    height: 300px;
    max-width: 385px;
    width: auto;
    margin: 10px 0;
  }

  &__info {
    background-color: $color-dark-2;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: 2px solid $color-light-1;
    border-top: none;
    // border-bottom-left-radius: 50%;
    // border-bottom-right-radius: 50%;
  }

  &__description {
    text-align: center;
    height: 100%;
    overflow: hidden;
    margin: 9px 10px 10px;
    font-weight: 700;
  }

  &__name {
    max-height: 75px;
    text-align: center;
    margin: 0px 5px;
  }


  &__tagline {
    margin:5px 5px 16px;
  }

  &__brew-date {
    align-self: flex-start;
    margin-left: 15px;
  }

  &__abv {
    align-self: flex-start;
    margin-left: 15px;
  }

  &__ph {
    align-self: flex-start;
    margin-left: 15px;
  }

  &__food-pairing {
    align-self: flex-start;
    margin-left: 15px;
    // height: 140px;

    &__list {
      margin: 5px 40px;
    }
  }
}

.opened {
  margin: 30px;
}

.closed {
  margin: 30px 87.5px;
}