@use 'assets/variables/variables' as *;

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


.app-container {
  display: flex;
  height: 100%;
  background-color: $color-light-2;
}

.nav-bar {
  background-color: #995104;
  width: 300px;
  height: 100vh; // Adjust this value as needed
}

.beer-tiles {
  width: 1350px;
}